body {
	overflow-x: hidden;
}

.main-view {
	padding-top: 50px;
}

.slide {
	position: relative;
}
.slide.ng-enter.ng-enter-active {
	left: 0;
	opacity: 1;
}
.slide.ng-enter {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.slide.ng-enter {
	left: 10px;
	opacity: 0;
}
